@import '../../node_modules/antd/dist/antd.css';

$color: #242526;

.ant-layout {
  background-color: $color!important;
}

.ant-btn {
  background-color: $color!important;
  border: 1px solid $color;
}

.ant-form-item-explain-error {
  color: #c30029;
  font-weight: 600;
}

